extends ./layout

block content
  .container
    .row: .col-xs-12: h1=title + ' List'
    .row: #filter-container
    .row: .col-xs-12
      table.table#results-table
        -var sort = sortOrder ? sortOrder : inputs
        +list-header(sort)
        tbody
          if collection
            each member, index in collection
              +populate(member, sort)
    .row
      .col-md-2: a.btn.btn-info.btn-lg.btn-block(href=baseUrl + '/' + title.toLowerCase() + '/new') &plus; Add New
      .col-md-2: a.btn.btn-default.btn-lg.btn-block(href=baseUrl) Back
  block scripts
    -var filters = _._.filter(inputs, function(input) { return input.isFilterable; });
    script.
      if (typeof ADMIN_LOCALS === 'undefined') {
        window.ADMIN_LOCALS = {};
      }
      ADMIN_LOCALS.baseUrl = "#{baseUrl}";
      ADMIN_LOCALS.modelName = "#{title}";
      ADMIN_LOCALS.totalPages = !{parseInt(totalPages, 10)};
      ADMIN_LOCALS.filters = !{JSON.stringify(filters)};