extends ./layout

mixin populate(doc)
  -var subdoc;
  tr
    td: a(href=baseUrl + '/' + title.toLowerCase() + '/' + doc.id)=doc.id
    if sortOrder
      each key in sortOrder
        if key !== 'id'
          if typeof doc[key] !== 'object'
            td=doc[key]
          else
            if doc[key]._id
              -subdoc = doc[key];
              td: a(href=baseUrl + '/' + _.pluralize(key, 2) + '/' + subdoc._id.toString())=subdoc.name ? subdoc.name : (subdoc.title ? subdoc.title : (subdoc.label ? subdoc.label : subdoc._id.toString()))
            else
              td=doc[key]
    else
      each value, key in doc
        if key !== 'id'
          if typeof value !== 'object'
            td=value
          else
            if value._id
              td: a(href=baseUrl + '/' + _.pluralize(key, 2) + '/' + value._id.toString())=value.name ? value.name : (value.title ? value.title : (value.label ? value.label : value._id.toString()))
            else
              td=value

block content
  .container
    .row: .col-xs-12: h1=title + ' List'
    .row: .col-xs-12
      +filters(sortOrder ? sortOrder : Object.keys(collection[0]), collection[0])
    .row: .col-xs-12
      table.table
        each member, index in collection
          if index === 0
            tr
              th='id'
                span.glyphicon.glyphicon-sort
              if sortOrder
                each key in sortOrder
                  if key !== 'id'
                    th=_.toProperCase(key)
              else
                each value, key in member
                  if key !== 'id'
                    th=_.toProperCase(key)
                      span.glyphicon.glyphicon-sort
            +populate(member)
          else
            +populate(member)
    .row
      .col-md-2: a.btn.btn-info.btn-lg.btn-block(href=baseUrl + '/' + title.toLowerCase() + '/new') &plus; Add New
      .col-md-2: a.btn.btn-default.btn-lg.btn-block(href=baseUrl) Back
  block scripts
    script.
      if (typeof ADMIN_LOCALS === 'undefined') {
        window.ADMIN_LOCALS = {};
      }
      ADMIN_LOCALS.baseUrl = "#{baseUrl}";
      ADMIN_LOCALS.modelName = "#{title}";
    script(src=baseUrl + '/js/list.js')
